* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  /* height: 100vh; */
  margin: 0.5rem;
  background-color: #4c1e03;
  background-color: #142760;
  background-color: #59891a;
  overflow: hidden;
}

#preRoot {
  background-color: #5a2c0e;
  background-color: #22376f;

  border-radius: 0.5rem;
  padding: 0.5rem;
}

#root {
  /* height: calc(100vh - 1rem); */
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: #6f401a;
  background-color: #344d85;
  background-color: #78a635;

  overflow: hidden;
}

.App {
  height: calc(100vh - 3rem);
  border-radius: 0.5rem;
  padding: 12px;
  background-color: #232323;
  /* background-color: #8b5c2c; */
  /* background-color: #4b6ba4; */
  max-height: 98vh;
  overflow: auto;
}
/* ---- ---- ---- ---- ---- ---- ---- ---- */
